.Mypage-main
  .Mypage-main__leftside
    .Mypage-main__menu
      .Mypage-main__contents
        .Mypage-main__content-mypagebtn 
          マイページ
          = icon('fas', 'angle-right') 
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          出品する
          = icon('fas', 'angle-right') 
            
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          出品中
          = icon('fas', 'angle-right') 
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          取引中
          = icon('fas', 'angle-right') 
       
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          売却済み
          = icon('fas', 'angle-right') 
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          購入商品ー取引中
          = icon('fas', 'angle-right') 
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          購入した商品ー過去の取引
          = icon('fas', 'angle-right') 
           
      .Mypage-main__setting
        設定
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          支払い方法
          = icon('fas', 'angle-right')
        
        = link_to '#', class: 'Mypage-main__content Mypage-main__list-name' do
          ログアウト
          = icon('fas', 'angle-right')


  .Mypage-main__rightside
    .Mypage-main__area
      = link_to "#" do
        .Mypage-main__user-space
          .Mypage-main__user
            = image_tag('avatardefault_92824.png', class: 'Mypage-main__img')
            .Mypage-main__name
              ユーザー名
            .Mypage-main__number
              .Mypage-main__evaluation
                %span 評価
                %span 0  
              .Mypage-main__sell
                %span 出品数 
                %span 0

                



    