.Mypage-top
  .Mypage-top__header
    .Mypage-top__header-box
      .Mypage-top__header-boxtop
        .Mypage-top__icon
          = link_to image_tag("furima.svg", alt: "FURIMA", class: "Mypage-top__logo"), "#"
        .Mypage-top__form
          = form_with url: '#' do |f|
            .Mypage-top__formarea
              = f.text_field :content, class: 'Mypage-top__word', placeholder: '何かお探しですか？'
              = button_tag type: 'submit', class: "Mypage-top__tag" do
                = icon('fas', 'search')

  .Mypage-top__header-boxunder
        
        

  .Mypage-top__under