%header.hedear
	メルカリヘッダー メンバーが作成中
.main	
	.show-main
		.item-box 
			.item-box-name	
				%h2
					= @item.item_name
			.item-image-box
				.image-main
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"image-main-image"
				.sub-image	
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"image-sub-image"
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"image-sub-image"

			.item-price-box
				%span.item-price 
					= @item.price 
				%sane.item-tex
					(税込)
				%span.item-shipping-fee
					送料込み

			%a.item-buy-btn	
				購入画面に進む	
			.item-description
				= @item.item_description
			.item-detail-table	
				%table
					%tbody
						%tr
							%th
								出品者
							%td= @item.user_id
						%tr
							%th
								カテゴリー
							%td
								= @item.category_id			
						%tr
							%th
								商品の状態
							%td
								= @item.conditon_id
						%tr
							%th
								配送料の負担
							%td
								= @item.shopping_charges_id

						%tr
							%th
								配送先の地域
							%td
								= @item.prefecture_id
			.opptionl-area			
				.favorite-btn
					=icon('far','star')
					お気に入り
				.optinal-btn
					=icon('far','flag')
					不適切な商品の通報						
	.item-detail-message	
		.message-content
			.message-form
				%a
					相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
			.massage-coment		
				%textarea.textarea
			.message-submit	
				%sapan
					コメントする	

	.items-in-user-profile
		.items-box-head
			武蔵さんのその他の出品	
		.items-box-content
			.items-box
				.items-box-photo
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
			.items-box-body
				.items-box-name
					ハリネズミ
				.items-box-num
					.items-box-price
						¥1,200	