=render partial: "shared/header"
.main	
	.show-main
		.item-box 
			.item-box-name
				%h2
					=@item.item_name
			.item-image-box
				.image-main
					.image-main-image
						= image_tag(@item.item_images[0].image.url )
				.sub-image	
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"image-sub-image"
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"image-sub-image"

			.item-price-box
				%span.item-price
					= number_to_currency(@item.price, format: "%u%n", unit: "￥",precision: 0)
				%sane.item-tex
					(税込)
				%span.item-shipping-fee
					送料込み

			.item-description
				= @item.item_description
			.item-detail-table	
				%table
					%tbody
						%tr
							%th
								出品者
							%td
								= @item.user.nickname
						%tr
							%th
								カテゴリー
							%td
								= @item.category.name
						%tr
							%th
								商品の状態
							%td
								= @item.conditon.name

						%tr
							%th
								発送までの日数
							%td
								= @item.shopping_charges.name

						%tr
							%th
								配送料の負担
							%td
								= @item.days_to_delivery.name
		
						%tr
							%th
								配送先の地域
							%td
								= @item.prefecture.name
			.opptionl-area			
				.favorite-btn
					=icon('far','star')
					お気に入り
				.optinal-btn
					=icon('far','flag')
					不適切な商品の通報		
	- if user_signed_in? && current_user.id				
		.user-buy-edit-delete-box
			.user-buy-edit-delete
				- if user_signed_in? && current_user.id ==@item.user_id
					= link_to "#",class: "edit-box" do
						商品の編集
					%span.or
						or	
					= link_to item_path(@item.id),method: :delete, class: "delete-box" do
						この商品を削除する
				- else
					= link_to buy_item_path(@item.id), class:"item-buy-btn" do
						購入画面に進む		

	.item-detail-message	
		.message-content
			-if  @item.messages
				- @item.messages.each do |message|
					-if message.user_id == @item.user_id
						%li.message-self
							%ul.message__user
								.message__user--name
									=message.user.nickname
							%ul.message__body
								.message__body--text
									=message.message
								.message-icon
									=link_to item_message_path(message.id),method: :delete do
										= icon('fas','trash-alt')
					-	else 
						%li.message-self-second
							%ul.message__user-second
								.message__user--name-second
									=message.user.nickname
							%ul.message__body-second
								.message__body--text-second
									=message.message	
								.message-icon-secound
									=link_to item_message_path(message.id),method: :delete do
										= icon('fas','trash-alt')					

			.message-form
				%a
					相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
			.massage-coment	
				- if current_user
					= form_with model:[@item,@message], local: true do |f|	
						= f.text_area :message,class:"textarea",rows: 7
						= f.submit'コメントする	',class:"message-submit"	

	.items-in-user-profile
		.items-box-head
			武蔵さんのその他の出品	
		.items-box-content
			.items-box
				.items-box-photo
					= image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
			.items-box-body
				.items-box-name
					ハリネズミ
				.items-box-num
					.items-box-price
						¥1,200	

=render partial: "shared/footer"