.Address
  .Address__box
    .Address__item
      .Address__title
        商品送付先入力
    .Address__form
      .Address__form-set
        = form_with model: @address, local: true do |f|
          .Address__form-set__name
            お名前（全角）
            %span.Form-require 必須
          .Address__form-set__fullname
            = f.text_field :lastname, class: "Address__form-set__fullname-lastname", placeholder: "例)山田"
            = f.text_field :firstname, class: "Address__form-set__fullname-firstname", placeholder: "例)太郎"
          .Address__form-set__Kana
            お名前カナ（全角）
            %span.Form-require 必須
          .Address__form-set__kanafull
            = f.text_field :kana_lastname, class: "Address__form-set__kanafull-lastname", placeholder: "例)ヤマダ"
            = f.text_field :kana_firstname, class: "Address__form-set__kanafull-firstname", placeholder: "例)タロウ"
          .Address__form-set__PostalCode
            %span.Form-require 必須
          = f.text_field :PostalCode, class: "Address__form-set__PostalCode-number", placeholder: "都道府県"
          .Address__form-set__municipality
            %span.Form-require 必須
          = f.text_field :municipality, class: "Address__form-set__municipality-name", placeholder: "市区町村"
          .Address__form-set__houseNumber
            %span.Form-require 必須
          = f.text_field :housenumber, class: "Address__form-set__houseNumber-math",placeholder: "番地"
          .Address__form-set__apartment
            = f.text_field :apartment, class: "Address__form-set__apartment-name", placeholder: "マンション名やビル名"
          .Address__form-set__room
          = f.text_field :room, class: "Address__form-set__room-number", placeholder: "部屋番号"
          .Address__form-set__phone
          = f.text_field :phone, class: "Address__form-set__phone-number", placeholder: "電話番号"
          .Address__form-set__user-register
          = f.submit "ユーザー登録", class: "Address__form-set__user-register-btn"